.at-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}

.at-layout * {
  box-sizing: border-box;
}

.at-main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.at-globe-zone,
.at-empty-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
}

@media (orientation: portrait) {
  .at-layout {
    flex-direction: column-reverse;
  }

  .at-globe-zone,
  .at-empty-profile {
    width: 80vw;
    height: 50vh;
    max-height: 50vh;
  }
}

.at-empty-profile p {
  display: none;
}